In [ ]:
"""
TODO: Prepare data for classification
Figure out best classification model
Figure out most important attributes
Figure out best visualization to display attributes that are important
Clean up notebook to be presentable
"""

In [62]:
import pandas as pd
import numpy as np
# Reading data:
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                'martial-status', 'occupation', 'relationship', 'race',
                'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
                'native-country']

df = pd.read_csv('adult.data',names=column_names,header=None, index_col=False)
test_df = pd.read_csv('adult.test',names=column_names + ['Label'], header=None, index_col=False, skiprows=1)

In [63]:
# Data cleaning:
# education num is a label encoding, we want to do one-hot so we drop education-num
df = df.drop('education-num', axis='columns')
test_df = test_df.drop('education-num', axis='columns')

# drop all rows with unknown values
def clear_unknown_rows(df):
    df = df.replace(' ?',np.NaN)
    df = df.dropna()
    return df

df = clear_unknown_rows(df)
test_df = clear_unknown_rows(test_df)

In [64]:
# one hot encoding
def encode_categories(df):
    df = df.join(pd.get_dummies(df.pop('workclass')))
    df = df.join(pd.get_dummies(df.pop('education')))
    df = df.join(pd.get_dummies(df.pop('martial-status')))
    df = df.join(pd.get_dummies(df.pop('occupation')))
    df = df.join(pd.get_dummies(df.pop('relationship')))
    df = df.join(pd.get_dummies(df.pop('race')))
    df = df.join(pd.get_dummies(df.pop('sex')))
    df = df.join(pd.get_dummies(df.pop('native-country')))
    return df

df = encode_categories(df)
test_df = encode_categories(test_df)

In [66]:
#Classification 
#https://www.datacamp.com/community/tutorials/random-forests-classifier-python

,age,fnlwgt,capital-gain,capital-loss,hours-per-week,Federal-gov,Local-gov,Private,Self-emp-inc,Self-emp-not-inc,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,39,77516,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,0,0,38,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
32559,22,201490,0,0,20,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,15024,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0